In [48]:
from ICBAnalytics import GetData

inv = GetData().get_data_postgresql("SELECT * FROM inventarios ORDER BY fecha desc")
#inv_ampliado = GetData().get_data_postgresql("SELECT * FROM inv_ampliado ORDER BY fecha desc")

Ok

c:\Users\erucan\AppData\Local\miniconda3\envs\default\lib\site-packages\ICBAnalytics\get_data_api.py:90: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(self.query, cnxn)

PostgreSQL connection is closed

In [6]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [13]:
display(inv.head(2))

inv["fecha"] = pd.to_datetime(inv["fecha"])
inv_ampliado["fecha"] = pd.to_datetime(inv_ampliado["fecha"])
display(inv_ampliado.head(2))

,Ceco,Ruta,Rut Gestor Responsable,Vendedor,fecha,inventariado,Administrativo,Inventario,Mermas,Vencidos,Siniestro,Valor total,Usuario,Tipo Inventario,Orden Camion,Supervisor,MES,AÑO
0,206006,806,16459756-3,FRANCISCO HORMAZABAL HUARES,2024-10-07,Santiago Enea,Eduardo Mata,-21590.0,-12895.0,-117889.0,NaN,-152374.0,EMATA,1,ORDENADO,Jhon Calderon,OCTUBRE,2024
1,206017,817,15867131-K,Victor Eduardo Carreño Rojas,2024-10-07,Melipilla,Daniel Rojas,10443.0,-12569.0,-48176.0,NaN,-50302.0,DROJAS,1,ORDENADO,Carlos Vera,OCTUBRE,2024

,Ruta,Vendedor,fecha,Inventario,Mermas,Vencidos,Siniestro,Valor total,Inventario anterior,Mermas anterior,Vencidos anterior,Siniestro anterior,Valor total anterior,MES,AÑO,inventariado,Administrativo,Tipo Inventario,Tipo Inventario anterior,Ruta con diferencia,Ruta con diferencia +1,Semana,id_inventario,Prioridad,rut_gestor
0,A03,RICHARD GUMERCINDO GALLARDO,2024-10-07,-3350.0,-19340.0,-30251.0,0.0,-52941.0,NaN,NaN,NaN,0.0,NaN,10,2024,Viña Del Mar,Claudio Gallardo,1,None,1.0,NaN,41,266387,None,12028212-3
1,926,Cristian Eduardo Rivera Bizama,2024-10-07,0.0,-2571.0,-15198.0,0.0,-17769.0,NaN,NaN,NaN,0.0,NaN,10,2024,Concepcion,Carlos Sanchez,0.25,None,0.0,NaN,41,266385,None,14512125-6

In [9]:
meses = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"]

In [28]:
inv["fecha"].sort_values().unique()

<DatetimeArray>
['1900-01-29 00:00:00', '2000-11-03 00:00:00', '2024-10-01 00:00:00',
 '2024-10-02 00:00:00', '2024-10-03 00:00:00', '2024-10-04 00:00:00',
 '2024-10-05 00:00:00', '2024-10-07 00:00:00']
Length: 8, dtype: datetime64[ns]

In [41]:
data = inv_ampliado.query("fecha < '2024-10-01'").copy()
data["Ceco"] = pd.NA
data["Supervisor"] = pd.NA
data["Usuario"] = pd.NA
data["Orden Camion"] = pd.NA
data = data[["Ceco", "Ruta", "rut_gestor", "Vendedor", "fecha", "inventariado", "Administrativo", "Inventario", "Mermas", "Vencidos", "Siniestro", "Valor total", "Usuario", "Tipo Inventario", "Orden Camion", "Supervisor"]]
data["MES"] = data["fecha"].apply(lambda x: meses[x.month - 1])
data["AÑO"] = data["fecha"].dt.year
data = data.rename(columns={"rut_gestor": "Rut Gestor Responsable"})

In [45]:
data.to_sql("inventarios.csv", index=False)